---
import Menu from '../components/Menu.astro'
import LangSwitcher from '../components/LangSwitcher.astro'
---

<header class="container flex justify-between items-center py-6">
  <h1 class="text-4xl text-teal-500 font-bold">
    <a href="/">Astro blog</a>
  </h1>

  <Menu />
  <LangSwitcher />
</header>
